html, body {
    height: 100%;
    margin: 0 auto;
}

body {
    display: grid;
    grid-template-rows: 80px 1fr 20px;
    grid-template-columns: 60px 1fr;
    grid-template-areas:    "header  header"
                            "nav     main"
                            "footer  footer";
}


header {
    grid-area: header;
    background-color: #8CC152;
    color: white;
    padding: 12px;
    box-sizing: border-box;
    align-items: center;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    color: #A0D468;
    text-decoration: none;
}

#mainNav {
    grid-area: nav;
}

.sideNav {
    background-color: #A0D468;
    color: white;
    width: 60px;
}

.sideNav a {
    display: block;
    height: 60px;
    width: 60px;
    color: #8CC152;
    font-size: 36px;
    text-align: center;
    padding: 12px 0;
    box-sizing: border-box;
}

.sideNav a:hover {
    color: white;
}

.row-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-control:disabled {
    background-color: white !important;
}

h3 {
    margin-right: 30px;
}

main {
    grid-area: main;
    padding: 10px 5% 10px 5%;
}

footer {
    grid-area: footer;
    background-color: #E6E9ED;
    text-align: center;
    font-size: 12px;
}

.logo {
    font-size: 32px;
    font-weight: 700;
    user-select: none;
}

.draggable {
    cursor: grab;
}

#orders {
    flex:3;
    margin-right: 50px;
}

#tickets {
    flex: 4;
}

#orders thead tr:nth-child(1) th {
    border-top: none;
}

.ticket {
    margin: 20px 0 10px 0;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    color: black;
    text-decoration: none;
    cursor: pointer;
    user-select: none;

}

.ticket:hover {
    color: black;
    text-decoration: none;
}

.open-ticket {
    display: grid;
    grid-template-columns: 130px 1fr;
    grid-template-rows: 36px 1fr;
    grid-template-areas: "truck info" "truck route";
}

.new-ticket {
    display: block;
    height: 80px;
    padding: 28px;
}

.ticket-truck-info {
    grid-area: truck;
    border-right: 1px solid #ced4da;

}

.ticket-departure {
    grid-area: info;
    border-bottom: 1px solid #ced4da;
}

.ticket-route-info {
    grid-area: route; }

.ticket p {
    margin: 0;
}

.ticket-truck-info, .ticket-departure, .ticket-route-info {
    padding: .375rem .75rem;
}

.hidden {
    visibility: hidden;
}

.icon-ok {
    color: #8CC152;
}

.icon-error {
    color: red;
}

.width600 {
    width: 600px;
}

.width160 {
    width: 160px;
}

.width100 {
    width: 100px;
}

.width80 {
    width: 80px;
}

.width40 {
    width: 40px;
}

.error-message {
    color: red;
}

.logout {
    margin: 0;
    padding: 0 3px;
    border: 0;
    color: white;
    text-decoration: none;
}

.logout:hover {
    color: #A0D468;
}

#list-tab .active {
    background-color: white;
}

#list-tab .active:hover {
    color: #8CC152;
}

#driver-core-screen__driver-status i {
    color: #8CC152;
    font-size: 36px;
    padding: 12px 0;
}

.sideNav, #list-tab {
    height: 100%;
}

.action-button, .change-status-button {
    margin-top: 50px;
}
